* {
    box-sizing: border-box;
}

form {
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

form label {
    width: 180px;
    font-weight: bold;
    display: inline-block;
}

form input {
    width: 60%;
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    margin: 8px 0;
    line-height: 25px;
}

form input[type="submit"]{
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
}

form input:invalid{
    background-color: rgba(255,100,100,0.5);
}

.errores {
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}